.git
.github
.editorconfig
.terraform*
*.tf
*.tfstate*
node_modules
vendor
Doc
tests
deploy
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore
.env
.env.*
!.env.example
.phpunit.result.cache
phpunit.xml
rector.php
Dockerfile*
docker-compose*
README.md
*.log
*.md
